.about {
  @extend %page;
}

.about__wrapper {
  @extend %page__wrapper;

  padding-bottom: 10rem;

  @include media('<phone') {
    padding-bottom: 4rem;
  }
}

.about__header {
  align-items: center;

  // background: var(--color-bison-hide);
  background: #beb4a0;
  display: flex;
  height: 69.5rem;
  overflow: hidden;
  position: relative;

  @include media('<phone') {
    align-items: flex-start;
    height: 63rem;
  }
}

.about__header__media {
  @extend %cover;
}

.about__header__media__image {
  @extend %cover;

  @include media('<phone') {
    object-position: -78rem 12rem;
  }
}

.about__header__title {
  font-size: 0;
  line-height: 1;
  margin-left: 9rem;
  position: relative;
  width: 64rem;

  span {
    display: inline-block;
    font-size: 8rem;
    overflow: hidden;
    vertical-align: middle;
  }

  span:nth-child(1) {
    font-style: italic;
    padding-right: 1rem;
  }

  span:nth-child(2) {
    font-family: $font-editorial-new;
  }

  span:nth-child(3) {
    font-family: $font-editorial-new;
  }

  span:nth-child(4) {
    font-family: $font-editorial-new;
  }

  span:nth-child(5) {
    font-style: italic;
    padding-right: 1rem;
  }

  @include media('<phone') {
    margin: 14rem auto 0;
    transform: translateX(0.5rem);
    width: 30rem;

    span {
      font-size: 3.7rem;
      text-align: center;
    }
  }
}

.about__seasons {
  height: 400vh;
  width: 100%;
}

.about__seasons__wrapper {
  height: 100vh;
  position: relative;
  width: 100%;
}

.about__seasons__box {
  align-items: center;
  border-radius: 1rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  inset: 7.5rem 4rem;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 19.5rem;
  position: absolute;
  text-align: center;

  @include media('<phone') {
    inset: 6rem 2rem 2rem;
  }
}

.about__seasons__title {
  font-size: 0;

  span {
    @extend %title-70;
  }

  @include media('<phone') {
    width: 16rem;
  }
}

.about__seasons__description {
  @extend %description-18;

  margin-top: 1rem;
  width: 33.75rem;

  @include media('<phone') {
    margin-top: 3rem;
    width: 23rem;

    br {
      display: none;
    }
  }
}

.about__seasons__highlight {
  bottom: 9rem;
  font-size: 12rem;
  left: 50%;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(-11%);
  white-space: nowrap;
}

.about__seasons__gallery {
  @extend %cover;

  z-index: -1;
}

.about__seasons__gallery__media {
  @extend %cover;

  &--1 {
    z-index: 4;
  }

  &--2 {
    z-index: 3;
  }

  &--3 {
    z-index: 2;
  }

  &--4 {
    z-index: 1;
  }
}

.about__seasons__gallery__media__image {
  @extend %cover;
}

.about__skin {
  align-items: center;
  display: flex;
  margin: auto;
  width: calc(100% - 8rem);

  @include media('<phone') {
    flex-direction: column;
    padding-top: 5rem;
    width: calc(100% - 4rem);
  }
}

.about__skin__content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;

  @include media('<phone') {
    width: 100%;
  }
}

.about__skin__content__wrapper {
  text-align: center;
}

.about__skin__content__label {
  @extend %label-12;
}

.about__skin__content__title {
  font-size: 0;
  margin-top: 1.5rem;
  padding-bottom: 1.3rem;

  span {
    @extend %title-70;
  }

  @include media('<phone') {
    margin-top: 0.5rem;

    span {
      font-size: 4rem;
    }
  }
}

.about__skin__content__description {
  @extend %description-18;

  margin: 5rem auto 0;
  max-width: 41rem;

  @include media('<phone') {
    margin-top: 3rem;
    max-width: 24rem;

    br {
      display: none;
    }
  }
}

.about__skin__media {
  border-radius: 1rem;
  height: 81rem;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 50%;

  @include media('<phone') {
    height: 37.5rem;
    margin-top: 5rem;
    width: 100%;
  }
}

.about__skin__media__image {
  @extend %cover;
}

.about__irritation {
  align-items: center;
  display: flex;
  margin: auto;
  width: calc(100% - 8rem);

  @include media('<phone') {
    flex-direction: column-reverse;
    margin: 7.5rem auto 0;
    width: calc(100% - 4rem);
  }
}

.about__irritation__content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;

  @include media('<phone') {
    width: 100%;
  }
}

.about__irritation__content__wrapper {
  text-align: center;
}

.about__irritation__content__label {
  @extend %label-12;
}

.about__irritation__content__title {
  font-size: 0;
  margin-top: 1.5rem;

  span {
    @extend %title-70;
  }

  @include media('<phone') {
    span {
      font-size: 4rem;
    }
  }
}

.about__irritation__content__description {
  @extend %description-18;

  margin: 5rem auto 0;
  max-width: 41rem;

  @include media('<phone') {
    margin-top: 3rem;
    max-width: 26rem;

    br {
      display: none;
    }
  }
}

.about__irritation__media {
  border-radius: 1rem;
  height: 81rem;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 50%;

  @include media('<phone') {
    height: 40rem;
    margin-top: 5rem;
    width: 100%;
  }
}

.about__irritation__outside {
  @extend %cover;
}

.about__irritation__outside__image {
  @extend %cover;
}

.about__irritation__inside {
  border-radius: 1rem;
  height: 40.4rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 33.8rem;

  @include media('<phone') {
    height: 21.2rem;
    width: 17.6rem;
  }
}

.about__irritation__inside__image {
  @extend %cover;
}

.about__gallery {
  height: 114.1rem;
  margin: 10rem 0;
  position: relative;

  @include media('<phone') {
    height: 30.7rem;
    margin: 10rem 0 3rem;
  }
}

.about__gallery__title {
  font-size: 0;
  left: 50%;
  padding-bottom: 1.6rem;
  position: absolute;
  text-align: center;
  top: 22rem;
  transform: translateX(-50%);

  span {
    font: 8.4rem/0.9 $font-editorial-new;
  }

  @include media('<phone') {
    top: 2.3rem;

    span {
      font-size: 4rem;
    }
  }
}

.about__gallery__media {
  position: absolute;

  &--1 {
    height: 49.1rem;
    left: -7.5rem;
    top: 29.5rem;
    width: 33.6rem;
  }

  &--2 {
    height: 32.4rem;
    left: 28.6rem;
    top: 46.2rem;
    width: 25.5rem;
  }

  &--3 {
    height: 46.7rem;
    left: 56.6rem;
    top: 54.1rem;
    width: 36.7rem;
  }

  &--4 {
    height: 35rem;
    left: 95.8rem;
    top: 33.5rem;
    width: 27.4rem;
  }

  &--5 {
    height: 39rem;
    left: 125.7rem;
    top: 0;
    width: 34.9rem;
  }

  &--6 {
    height: 27rem;
    left: 125.7rem;
    top: 41.5rem;
    width: 41.9rem;
  }

  &--7 {
    height: 30.8rem;
    left: 95.7rem;
    top: 70.9rem;
    width: 54.7rem;
  }

  &--8 {
    height: 32.8rem;
    left: -4.1rem;

    // top: 81.1rem;
    top: 85.1rem;
    width: 58.2rem;
  }

  @include media('<phone') {
    &--1 {
      height: 13.2rem;
      left: -2.9rem;
      top: 8rem;
      width: 9rem;
    }

    &--2 {
      height: 8.8rem;
      left: 6.8rem;
      top: 12.4rem;
      width: 6.9rem;
    }

    &--3 {
      height: 12.6rem;
      left: 14.4rem;
      top: 14.6rem;
      width: 9.9rem;
    }

    &--4 {
      height: 9.5rem;
      left: 24.9rem;
      top: 9rem;
      width: 7.4rem;
    }

    &--5 {
      height: 10.5rem;
      left: auto;
      right: -4.9rem;
      top: 0;
      width: 9.4rem;
    }

    &--6 {
      height: 7.3rem;
      left: auto;
      right: -6.8rem;
      top: 11.2rem;
      width: 11.3rem;
    }

    &--7 {
      height: 8.3rem;
      left: auto;
      right: -2.1rem;
      top: 19.1rem;
      width: 14.7rem;
    }

    &--8 {
      height: 8.8rem;
      left: -1.9rem;
      top: 21.9rem;
      width: 15.6rem;
    }
  }
}

.about__gallery__media__box {
  border-radius: 1rem;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.about__gallery__media__image {
  @extend %cover;
}

.about__disclaimer {
  margin: auto;
  width: calc(100% - 8rem);

  @include media('<phone') {
    width: calc(100% - 4rem);
  }
}

.about__disclaimer__wrapper {
  display: flex;

  @include media('<phone') {
    flex-direction: column;
  }
}

.about__disclaimer__poem {
  width: 69rem;
}

.about__disclaimer__poem__quotes {
  fill: var(--color-black);
  margin-bottom: 2rem;
  width: 2.4rem;
}

.about__disclaimer__poem__title {
  font: 1.4rem/1.25 $font-anonymous;
}

.about__disclaimer__poem__author {
  font: 1.8rem $font-editorial-new;
  margin-top: 3.2rem;

  @include media('<phone') {
    font-size: 1.6rem;
    margin-top: 3.4rem;
  }
}

.about__disclaimer__description {
  @extend %description-18;

  line-height: 1.25;
  width: 46rem;

  @include media('<phone') {
    line-height: 1.2;
    margin-top: 3rem;
    width: 100%;
  }
}

.about__disclaimer__description__text {
  &:not(:first-child) {
    margin-top: 2.5rem;
  }

  @include media('<phone') {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}
