.lookbook {
  @extend %page;

  font-size: 2.9rem;
}

.lookbook__wrapper {
  @extend %page__wrapper;

  padding-top: 8rem;

  @include media('<phone') {
    padding-top: 6rem;
  }
}

.lookbook__header {
  align-items: center;
  display: flex;
  height: 85rem;
  position: relative;
  text-align: center;

  @include media('<phone') {
    flex-direction: column;
    height: auto;
  }
}

.lookbook__header__content {
  align-items: center;
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 59.5rem;

  @include media('<phone') {
    height: 55rem;
  }
}

.lookbook__header__label {
  @extend %label-14;
}

.lookbook__header__title {
  font-size: 0;
  margin-top: 3rem;
  width: 29rem;

  span {
    font: 5.6rem / 120% $font-editorial-new;
  }
}

.lookbook__header__description {
  bottom: 2rem;
  position: absolute;

  @include media('<phone') {
    font-size: 2.2rem;
  }
}

.lookbook__header__figure {
  height: 100%;
  position: relative;
  width: calc(100% - 59.5rem);

  @include media('<phone') {
    height: 44.3rem;
    width: 100%;
  }
}

.lookbook__header__figure__image {
  @extend %cover;
}

.lookbook__highlight {
  border-bottom: 1px solid var(--color-black);
  font-size: 0;
  padding: 0.8rem 0;

  @include media('<phone') {
    display: none;
  }
}

.lookbook__highlight__wrapper {
  display: inline-block;
  white-space: nowrap;

  span {
    display: inline-block;
    font-size: 2.9rem;
  }
}

.lookbook__section-1 {
  align-items: center;
  display: flex;
  height: 77.5rem;
  position: relative;

  @include media('<phone') {
    flex-direction: column-reverse;
  }
}

.lookbook__section-1__media {
  border-right: 1px solid var(--color-black);
  height: 100%;
  position: relative;
  width: 72rem;

  @include media('<phone') {
    border-right: none;
    height: 40.7rem;
    width: 100%;
  }
}

.lookbook__section-1__media__image {
  @extend %cover;
}

.lookbook__section-1__content {
  font-family: $font-editorial-new;
  height: 100%;
  padding: 2rem;
  position: relative;
  width: calc(100% - 72rem);

  span {
    &:nth-of-type(2) {
      font-family: $font-neue-montreal;
      font-style: italic;
    }

    &:nth-of-type(6) {
      font-family: $font-neue-montreal;
      font-style: italic;
    }
  }

  @include media('<phone') {
    height: 37.5rem;
    width: 100%;
  }
}

.lookbook__section-2 {
  border-top: 1px solid var(--color-black);
}

.lookbook__section-2__content {
  align-items: flex-end;
  background: var(--color-bison-hide);
  color: var(--color-white);
  display: flex;
  height: 51.8rem;
  justify-content: flex-start;
  padding: 3.1rem 2.7rem;

  @include media('<phone') {
    height: 37.5rem;
  }
}

.lookbook__section-2__content__text {
  strong {
    font-family: $font-editorial-new;
    line-height: 0;
  }

  span {
    &:nth-of-type(12) {
      strong {
        font-family: $font-neue-montreal;
        font-style: italic;
      }
    }

    &:nth-of-type(14) {
      strong {
        font-family: $font-neue-montreal;
        font-style: italic;
      }
    }
  }
}

.lookbook__section-2__media {
  border-top: 1px solid var(--color-black);
  height: 75rem;
  position: relative;

  @include media('<phone') {
    height: 33.5rem;
  }
}

.lookbook__section-2__media__image {
  @extend %cover;
}

.lookbook__section-3 {
  align-items: center;
  border-top: 1px solid var(--color-black);
  display: flex;
  height: 66.2rem;

  @include media('<phone') {
    flex-direction: column;
    height: auto;
  }
}

.lookbook__section-3__content {
  align-items: flex-end;
  display: flex;
  font-family: $font-neue-montreal;
  font-style: italic;
  height: 100%;
  padding: 2rem;
  width: 85rem * 0.5;

  &:last-child {
    background: var(--color-black);
    color: var(--color-white);
    justify-content: flex-end;
  }

  strong {
    font-family: $font-editorial-new;
    font-style: normal;
  }

  @include media('<phone') {
    align-items: flex-start;
    height: 37.5rem;
    width: 100%;
  }
}

.lookbook__section-3__media {
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
  height: 100%;
  position: relative;
  width: 59rem;

  @include media('<phone') {
    border-left: none;
    border-right: none;
    height: 50rem;
  }
}

.lookbook__section-3__media__image {
  @extend %cover;
}

.lookbook__section-4 {
  align-items: center;
  border-top: 1px solid var(--color-black);
  display: flex;
  height: 66.2rem;

  @include media('<phone') {
    flex-direction: column;
    height: auto;
  }
}

.lookbook__section-4__media {
  align-items: flex-end;
  height: 100%;
  position: relative;
  width: 85rem * 0.5;

  &:first-child {
    border-right: 1px solid var(--color-black);
  }

  &:last-child {
    border-left: 1px solid var(--color-black);
  }

  @include media('<phone') {
    height: 50rem;

    &:first-child {
      border-right: none;
    }

    &:last-child {
      border-left: none;
    }
  }
}

.lookbook__section-4__media__image {
  @extend %cover;
}

.lookbook__section-4__content {
  align-items: flex-end;
  display: flex;
  font-family: $font-neue-montreal;
  font-style: italic;
  height: 100%;
  padding: 2rem;
  width: 59rem;

  strong {
    font-family: $font-editorial-new;
    font-style: normal;
  }

  @include media('<phone') {
    align-items: flex-start;
    height: 37.5rem;
    width: 100%;
  }
}

.lookbook__section-5 {
  border-top: 1px solid var(--color-black);
  height: 58.6rem;
  position: relative;

  @include media('<phone') {
    height: 37.5rem;
  }
}

.lookbook__section-5__media {
  @extend %cover;
}

.lookbook__section-6 {
  border-top: 1px solid var(--color-black);

  &::after {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }

  @include media('<phone') {
    display: flex;
    flex-direction: column-reverse;
  }
}

.lookbook__section-6__media {
  border-right: 1px solid var(--color-black);
  float: left;
  height: 109rem;
  position: relative;
  width: 94rem;

  @include media('<phone') {
    border-right: none;
    float: none;
    height: 50rem;
    width: 100%;
  }
}

.lookbook__section-6__media__image {
  @extend %cover;
}

.lookbook__section-6__content {
  float: left;
  font-family: $font-editorial-new;
  height: 109rem * 0.5;
  padding: 2rem;
  width: calc(100% - 94rem);

  strong {
    font-family: $font-neue-montreal;
    font-style: italic;
    line-height: 0;
  }

  &:first-of-type {
    background: var(--color-bison-hide);
    border-bottom: 1px solid var(--color-black);
    color: var(--color-white);
  }

  @include media('<phone') {
    float: none;
    height: 37.5rem;
    width: 100%;

    &:last-of-type {
      order: 1;
    }

    &:first-of-type {
      order: 2;
    }
  }
}
