.product {
  @extend %page;
}

.product__wrapper {
  @extend %page__wrapper;

  padding: 8.5rem 4rem 4rem;

  @include media('<phone') {
    padding: 7rem 2rem 4rem;
  }
}

.product__header {
  display: flex;

  @include media('<phone') {
    flex-direction: column;
  }
}

.product__gallery {
  background: var(--color-bison-hide);
  border-radius: 1rem;
  height: 69.5rem;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 50%;

  @include media('<phone') {
    height: 25.7rem;
    width: 100%;
  }
}

.product__gallery__navigation {
  bottom: 2rem;
  display: flex;
  position: absolute;
  right: 2rem;

  @include media('<phone') {
    bottom: 1rem;
    right: 1rem;
  }
}

.product__gallery__navigation__button {
  font-size: 0;
  height: 3rem;
  opacity: 0.5;
  position: relative;
  transition: opacity 0.4s ease;
  width: 2rem;

  &::after {
    background: var(--color-black);
    border-radius: 50%;
    content: '';
    height: 1rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
  }

  &--active {
    opacity: 1;
  }

  @include media('<phone') {
    height: 4.8rem;
    width: 4.8rem;
  }
}

.product__header__media {
  @extend %cover;

  opacity: 0;
  transition: opacity 0.4s ease;

  &--active {
    opacity: 1;
  }
}

.product__header__media__image {
  @extend %cover;
}

.product__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  width: 50%;

  @include media('<phone') {
    padding-left: 0;
    padding-top: 5rem;
    width: 100%;
  }
}

.product__details__label {
  @extend %label-12;
}

.product__details__title {
  font-size: 0;
  margin-top: 2rem;
  padding-bottom: 0.6rem;
  width: 37rem;

  span {
    font: 4.4rem/1 $font-editorial-new;
  }

  @include media('<phone') {
    span {
      font-size: 4rem;
    }
  }
}

.product__details__size {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.product__details__description {
  margin-top: 3.2rem;
  max-width: 41rem;
}

.product__details__highlights {
  margin-top: 4.5rem;
  max-width: 41rem;

  @include media('<phone') {
    margin-top: 2.2rem;
  }
}

.product__details__highlight {
  align-items: center;
  display: flex;
  font: 1.2rem $font-anonymous;
  padding: 1.2rem 0;
  position: relative;

  @include media('<phone') {
    font-size: 1.1rem;
  }
}

.product__details__highlight__text {
  @extend %appear;

  align-items: center;
  display: flex;
  overflow: hidden;

  span:first-child {
    display: inline-block;
    font-family: $font-neue-montreal;
    width: 15rem;
  }

  @include media('<phone') {
    span:first-child {
      width: 11rem;
    }
  }
}

.product__details__highlight__dash {
  @extend %dash;
}

.product__details__button {
  margin-left: auto;
  margin-top: 5rem;
  transform-origin: right;
  width: 21rem;

  &::after {
    height: 21rem;
    width: 21rem;
  }

  @include media('<phone') {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    transform-origin: center;
  }
}

.product__how {
  align-items: center;
  display: flex;

  @include media('<phone') {
    flex-direction: column-reverse;
    margin-top: 7.5rem;
  }
}

.product__how__content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;

  @include media('<phone') {
    padding-top: 2.5rem;
    width: 100%;
  }
}

.product__how__content__wrapper {
  max-width: 55rem;
}

.product__how__content__label {
  @extend %label-12;
}

.product__how__content__description {
  font-size: 4.6rem;
  line-height: 1.2;
  margin-top: 2.5rem;

  @include media('<phone') {
    font-size: 3.8rem;
    line-height: 0.95;
    margin-top: 1.5rem;
  }
}

.product__how__media {
  border-radius: 1rem;
  height: 81rem;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 50%;

  @include media('<phone') {
    height: 45rem;
    width: 100%;
  }
}

.product__how__media__image {
  @extend %cover;
}

.product__ingredients {
  align-items: center;
  display: flex;

  @include media('<phone') {
    flex-direction: column;
    margin-top: 7.5rem;
  }
}

.product__ingredients__media {
  border-radius: 1rem;
  height: 74rem;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
  width: 50%;

  @include media('<phone') {
    height: 40rem;
    width: 100%;
  }
}

.product__ingredients__media__image {
  @extend %cover;
}

.product__ingredients__content {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50%;

  @include media('<phone') {
    margin-top: 2.5rem;
    width: 100%;
  }
}

.product__ingredients__content__wrapper {
  @include media('<phone') {
    display: flex;
  }
}

.product__ingredients__content__label {
  @extend %label-12;

  @include media('<phone') {
    width: 8rem;
  }
}

.product__ingredients__content__list {
  font-size: 1.3rem;
  margin-top: 2.5rem;
  width: 52.5rem;

  @include media('<phone') {
    margin-top: 0;
    padding-left: 10.5rem;
    width: calc(100% - 8rem);
  }
}

.product__ingredients__content__item {
  padding: 0.7rem 0.5rem;
  position: relative;

  @include media('<phone') {
    padding: 0;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

.product__ingredients__content__item__dash {
  @extend %dash;

  @include media('<phone') {
    display: none;
  }
}

.product__ingredients__content__name {
  @extend %appear;

  display: inline-block;
  overflow: hidden;
  width: 17.7rem;

  @include media('<phone') {
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}

.product__ingredients__content__region {
  @extend %appear;

  display: inline-block;
  overflow: hidden;
  width: 16rem;

  @include media('<phone') {
    width: 100%;
  }
}

.product__ingredients__content__type {
  @extend %appear;

  display: inline-block;
  font-family: $font-anonymous;
  overflow: hidden;

  @include media('<phone') {
    font-family: inherit;
  }
}
