{% extends '../base.twig' %}

{% set template = 'page' %}

{% block content %}
    <div class="page">
        <div class="page__wrapper">
            {% include '../sections/index.twig' %}
        </div>
    </div>
{% endblock %}
